/* Global Formatting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../assets/images/natures-elegance-vibrant-floral-pattern-generative-ai.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* background: rgb(245, 243, 243); */
  /* font-family: 'Nunito', sans-serif; */
}
nav a {
  color: unset;
  text-decoration: none;
  color: rgb(239, 194, 17);
  padding: 14px 16px;
}

nav a:hover {
  color: #002633;
  font-size: 45px;
  text-shadow: 0px 10px 20px rgb(255, 251, 0);
}

.navbar_menu,
nav {
  font-family: 'Freckle Face', cursive;

  text-align: center;
  font-size: 32px;
  line-height: 25px;
  border: none;
  outline: none;
  padding: 0.5rem 0.5rem;
  background-color: rgba(245, 243, 243, 0);
  cursor: pointer;
  flex-shrink: inherit;
}

h1 {
  font-family: 'Freckle Face', cursive;
  color: darkgoldenrod;
}

.about_cards_wrap {
  position: relative;
  float: left;
  width: 35%;
  margin: 30px;
  background: #fff;
  border-radius: 20px;
  padding: 35px 35px;
  align-items: center;
  max-width: 500px;
  max-height: 900px;
  opacity: 0.5;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 3;
}

.about_cards_wrap:hover {
  opacity: 1;
  box-shadow: 0 10px 20px rgba(255, 251, 0.4);
}

.about_card_inner {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 75%;
}

.about_card_inner img {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

.about_card_inner h1 {
  font-size: 30px;
}

.landingzone {
  color: rgb(26, 82, 159);
  width: 100%;
  font-size: 32px;
  padding: 3rem 1.5rem;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 50px;
  background: #e36686;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 900;
}

.main_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cards_wrap {
  float: left;
  width: 25%;
  margin: 10px;
  background: #fff;
  border-radius: 20px;
  padding: 35px 20px;
  min-width: 315px;
  min-height: 225px;
  opacity: 0.5;
}

.cards_wrap:hover {
  opacity: 1;
  flex-grow: 5;
  box-shadow: 0 10px 20px rgba(255, 251, 0.4);
}

.card_inner {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;

  letter-spacing: 1.5px;
  font-weight: 900;
}

.card_inner a {
  text-decoration: none;
  color: rgb(130, 46, 158);
}

.date_cards_wrap {
  padding: 5px;
  width: 100%;
  content: "";
  display: inline-block;
  clear: both;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.date_cards_item,
.date_card_item {
  padding: 15px 25px;
  max-width: 500px;
  max-height: 500px;
  flex-wrap: wrap;
}

.my_portfolio {
  color: #2f1f32;
  font-size: 12px;
  font-weight: 100;
  margin: 5px;
}

.card_inner img {
  width: 100%;
  margin-bottom: 5px;
  max-width: 700px;
  max-height: 500px;
  border-radius: 10px;
  opacity: 0.5;
}

.card_inner img:hover {
  opacity: 1;

  box-shadow: 0 10px 20px rgba(209, 86, 250, 0.4);
}

.bottom_content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.bottom_cards_wrap {
  display: flex;
  box-sizing: border-box;
  width: 90%;
  margin: 2%;
  margin-left: 3.5%;
  color: #946161;
  justify-self: center;
  background: #fff;
  border-radius: 20px;
  padding: 35px 20px;
  max-height: 550px;
  min-width: 300px;
  min-height: 500px;
  overflow-y: scroll;
  opacity: 0.5;
}

.bottom_cards_wrap:hover {
  opacity: 1;
  box-shadow: 0 10px 20px rgba(209, 86, 250, 0.4);
  color: #523535;
}

.resume_left_container {
  display: flex;
  width: 100%;
  margin: 15px;
  background: #fff;
  border-radius: 20px;
  padding: 0 0 0 30px;
  max-width: 900px;
  max-height: min-content;
  height: 200px;
  min-width: 300px;
  min-height: 200px;
  flex-shrink: 1;
}

.resume_card_inner {
  width: 100%;
  height: 350px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 100%;
  font-weight: 500;
  margin: 5px;

}

.resume_left_img {
  display: inline-flex;
  flex-direction: row;
  align-self: center;
  margin: 30px;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  opacity: 0.75;
}

.resume_left_img:hover {
  width: 20%;
  height: 20%;
  opacity: 1;
  cursor: pointer;
}

.resume_right_img {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 8;
  right: 5;
  width: 40%;
  height: 50%;
}

.resume_right_img {
  visibility: visible;
  opacity: 0;
}

.resume_right_img:hover {
  overflow: scroll;
  width: 50%;

  opacity: 1;
}

.contact_cards_wrap {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Saturn_during_Equinox.jpg/1920px-Saturn_during_Equinox.jpg");
  background-size: cover;
  background-position: center;
  width: 50%;
  margin: 2%;
  color: #fff;
  justify-self: center;
  border-radius: 20px;
  padding: 35px 20px;
  max-width: 35%;
  max-height: 25%;
  min-width: 300px;
  min-height: 300px;
}

.expand-btn {
  font-family: "Merriweather", serif;
  letter-spacing: 2.5px;
  margin-left: 4.5rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #946161;
  color: #fff;
  font-size: 100%;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.5;
}

.expand-btn:hover {
  opacity: 1;
  box-shadow: 0 15px 20px rgba(209, 86, 250, 0.4);
}

.contact_cards_wrap {
  display: none;
  margin-top: 20px;
}

.show {
  display: block;
}

.contact_right {
  display: flex;
  flex-direction: column-reverse;
  min-width: 100%;
  min-height: 100%;
  min-width: 700px;
  min-height: 300px;
  text-align: inherit;
}

.contact_right a {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  color: #ffff;
}

.contact_right a:hover {
  font-size: 32px;
  text-shadow: 0 10px 20px rgba(215, 96, 255, 0.706);
  cursor: pointer;
}

.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }
  .section__padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  .section__padding {
    padding: 4rem;
  }
}
