
/* Global Formatting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rosybrown;
  font-family: "Merriweather", serif;
}
nav a {
    color: unset;
    text-decoration: none;
    color: rosybrown;
    padding: 14px 16px;
}

nav a:hover {
    color: #fff;
    text-shadow: 0 10px 20px rgba(215, 96, 255, 0.706);
}
.navbar_menu, nav {
    text-align: center;
    font-size: 32px;
    margin: 20px;
    line-height: 25px;
    border: none;
    outline: none;
    padding: .5rem 0rem;
    background-color: #946161;
    cursor: pointer;
}

.about_cards_wrap {
    float: left;
    width: 25%;
    margin: 30px;
    background: #fff;
    border-radius: 20px;
    padding: 35px 35px;
    align-items: center;
    min-width: 225px;
    min-height: 500px;    
}

.about_card_inner {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.landingzone {
  color: rgb(148, 97, 97);
  width: 100%;
  font-size: 32px;
  padding: 3rem 1.5rem;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 50px;
  background: #e36686;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 900;
}

.main_content {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.cards_wrap {
  float: left;
  width: 25%;
  margin: 10px;
  background: #fff;
  border-radius: 20px;
  padding: 35px 20px;
  min-width: 225px;
  min-height: 315px;
}

.card_inner {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 900;
}

.date_cards_wrap {
  padding: 5px;
  width: 100%;
  content: "";
  display: inline-block;
  clear: both;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.date_cards_wrap,
.date_card_item {
  padding: 15px 25px;
  max-width: 500px;
  max-height: 500px;
  flex-wrap: wrap;
}

.my_portfolio {
  color: #b6c0c2;
  font-size: 12px;
  font-weight: 100;
  margin: 5px;
}

img {
  width: 100%;
  margin-bottom: 5px;
  max-width: 500px;
  max-height: 300px;
  border-radius: 10px;
  opacity: 0.5;
}

img:hover {
    opacity: 1.0;
    box-shadow: 0 10px 20px rgba(209, 86, 250, 0.4);
}

/* .cards_wrap .card_inner .my_name{
 color: #e36686;
 font-weight: 900;
 letter-spacing: 2px;
 text-transform: uppercase;
 font-size: 20px;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
} */

.cards_wrap .card_inner .my_contactInfo {
  font-size: 14px;
  line-height: 24px;
  color: #7b8ca0;
}

.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
}
